/* Starter template */

body {
    padding-top: 80px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.starter-template h1 {
    font-size: 63px;
}

.party-form {
    margin-bottom: 20px;
}

.option-link {
  position: relative;

}
.super {bottom: 8px;}
.sub {
  top: 15px;
  right: 15px;
}
.option-link:hover {
  cursor: pointer;
}

.container.ng-scope{
  background-image: url('img/Splash Page.gif');
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.map-wrapper{
  /*background-color: red;*/
  height: 146px;
  width: 230px;
}

.angular-google-map-container { height: 146px; }
