<div class="container">
  <div class="starter-template">
    <h1>Get PAGEd!</h1>
    <p class="lead">The smart assistant for geriatric care managers</p>
    <a href="/#/register" class="btn btn-primary btn-lg" role="button">Get started now!</a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>Be present with your client</h2>
      <p>Use our simple app to streamline home visits from your PC, tablet, or phone.</p>
    </div>
    <div class="col-md-4">
      <h2>Get the latest updates</h2>
      <p>Pulls from EHRs, PHRs, family and patient reports</p>
    </div>
    <div class="col-md-4">
      <h2>Focus on what matters</h2>
      <p>Surface critical issues early in your visit</p>
    </div>
  </div>
</div>
